html
  head
    title= 'Home'
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/app.js', defer=true)
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Let&apos;s Chat!
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/sign-in') Sign In
    .jumbotron.text-center
      h1.display-4 Let's Chat!
      p.lead
        | This is a simple chat for communication.
      hr.my-4
      p
        | It uses super cool technology from the web.
      a.btn.btn-primary.btn-lg(href='/sign-in' role='button') Start Now!

    